<html>
<head>
    <title>Entities Summary</title>
</head>
<body>
    <h1>Entities Summary</h1>
    <ul>
    {{#entities}}
        <li>
            <strong>{{name}}</strong>: {{summary}}
            <br>Details: {{details}}
        </li>
    {{/entities}}
    </ul>
</body>
</html>
