astroid==3.0.1
beautifulsoup4==4.12.3
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.7
distlib==0.3.7
filelock==3.13.1
idna==3.6
isort==5.12.0
mccabe==0.7.0
mistune==3.0.2
numpy==1.26.3
pandas==2.1.4
platformdirs==4.0.0
pylint==3.0.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tomlkit==0.12.3
tzdata==2023.4
urllib3==2.1.0
virtualenv==20.24.7
